block variables
  -
    var rows = [
      {
        id: 1,
        name: 'Kit Harington',
        nationality: 'British',
        gender: 'Male',
        age: 32
      },
      {
        id: 2,
        name: 'Emilia Clarke',
        nationality: 'British',
        gender: 'Female',
        age: 32
      },
      {
        id: 3,
        name: 'Peter Dinklage',
        nationality: 'American',
        gender: 'Male',
        age: 49
      },
      {
        id: 4,
        name: 'Sean Bean',
        nationality: 'British',
        gender: 'Male',
        age: 59
      },
      {
        id: 5,
        name: 'Maisie Williams',
        nationality: 'British',
        gender: 'Female',
        age: 21
      },
      {
        id: 6,
        name: 'Sophie Turner',
        nationality: 'British',
        gender: 'Female',
        age: 23
      }
    ];

mixin fancy-bulkselect-doc(config)
  p Bulk select allows users to check multiple checkboxes at once and toggles a UI for bulk actions to be performed for the selected items.
  strong Bulk select consist of four main parts:
  ol
    li The main checkbox, which is used for checking all the other checkboxes, the class 
      code checkbox-bulk-select
      |  is used to define that item.
    li The target checkboxes are wrapped using a unique id, in this example 
      code bulk-select-body
      | . Every targeted checkbox within this wrapper is marked as 
      code checkbox-bulk-select-target
      | . The id 
      code bulk-select-body
      |  is used to hook it to the main checkbox with 
      code data-checkbox-body="#bulk-select-body"
    li The element with id 
      code bulk-select-actions
      |  will be toggled by checking the main checkbox, which is hooked using 
      code data-checkbox-actions="#bulk-select-actions"
    li Bulk select actions will be replaced with the content of 
      code bulk-select-replace-element 
      | id, which is hooked using 
      code data-checkbox-replaced-element="#bulk-select-replace-element"
  img.w-100.rounded(src=config.imgSrc alt="bulk-select")

  mixin fancy-bulkselect-example-actions
    .d-flex.align-items-center.justify-content-between
      h5.mb-0.text-white Example
      #bulk-select-replace-element
        button(type='button').btn.btn-outline-light.btn-sm
          span.fas.fa-plus(data-fa-transform="shrink-3 down-2")
          span.ml-1 New
      #bulk-select-actions.d-none.ml-3
        .input-group.input-group-sm
          = '\n'
          select.custom-select(aria-label='Bulk actions')
            option(selected='') Bulk actions
            option(value='Delete') Delete
            option(value='Archive') Archive
          = '\n'
          button.btn.btn-outline-light.btn-sm.ml-2(type='button') Apply
          = '\n'

  mixin fancy-bulkselect-example-table(rows)
    .table-responsive
      table.table.mb-0
        thead.text-black
          tr
            th.align-middle.white-space-nowrap
              .custom-control.custom-checkbox.ml-3
                = '\n'
                input.custom-control-input.checkbox-bulk-select#checkbox-bulk-select(
                  type='checkbox' 
                  data-checkbox-body="#bulk-select-body" 
                  data-checkbox-actions="#bulk-select-actions"
                  data-checkbox-replaced-element="#bulk-select-replace-element"
                )
                = '\n'
                label.custom-control-label(for='checkbox-bulk-select')
                = '\n'
            th.align-middle Name
            th.align-middle Nationality 
            th.align-middle Gender
            th.align-middle.white-space-nowrap.pr-3 Age
        
        tbody#bulk-select-body
          each row in rows
            tr
              td.align-middle.white-space-nowrap
                .custom-control.custom-checkbox.ml-3
                  = '\n'
                  input.custom-control-input.checkbox-bulk-select-target(type='checkbox' id=`checkbox-${row.id}`)
                  = '\n'
                  label.custom-control-label(for=`checkbox-${row.id}`)
                  = '\n'
              th.align-middle=row.name
              td.align-middle=row.nationality
              td.align-middle=row.gender
              td.align-middle.white-space-nowrap.text-right.pr-3=row.age